/* 清除默认样式开始 */
body,
ul,
li,
ol,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none!important;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
/* 清除默认样式结束 */
/* 字体设置开始 */
body {
  background: #f5f5f5;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
/* 字体设置结束 */
/* 视频列表开始 */
.video-list {
  background: #f5f5f5;
}
.video-list > ul {
  margin-right: -30px;
  zoom: 1;
}
.video-list > ul:before,
.video-list > ul:after {
  content: " ";
  display: table;
}
.video-list > ul:after {
  clear: both;
}
.video-list > ul .item {
  float: left;
  height: 180px;
  width: 250px;
  background: #f5f5f5;
  box-sizing: content-box;
  margin: 0 30px 30px 0;
  -webkit-box-shadow: 0px 0px 0px 1px #ceced6;
  -moz-box-shadow: 0px 0px 0px 1px #ceced6;
  box-shadow: 0px 0px 0px 1px #ceced6;
}
.video-list > ul .item.complete {
  transition: all 0.8s;
}
.video-list > ul .item .graphic {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.video-list > ul .item .graphic a {
  display: block;
  width: 100%;
  height: 100%;
}
.video-list > ul .item .graphic img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s;
  vertical-align: top;
}
.video-list > ul .item .graphic h4 {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 40px;
  text-align: left;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video-list > ul .item:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.video-list > ul .item:hover .graphic img {
  transform: scale(1.2);
  vertical-align: top;
}
/* 视频列表结束 */
/* 资讯列表开始 */
.information-list {
  background: #f5f5f5;
}
.information-list > ul {
  position: relative;
  min-height: 450px;
  zoom: 1;
}
.information-list > ul:before,
.information-list > ul:after {
  content: " ";
  display: table;
}
.information-list > ul:after {
  clear: both;
}
.information-list > ul .item {
  width: 250px;
  background: #f5f5f5;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px 1px #ceced6;
  -moz-box-shadow: 0px 0px 2px 1px #ceced6;
  box-shadow: 0px 0px 2px 1px #ceced6;
}
.information-list > ul .item:nth-child(5n){
  margin-right: 0;
}
.information-list > ul .item .graphic {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 40px;
}
.information-list > ul .item .graphic img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s;
  vertical-align: top;
}
.information-list > ul .item .graphic .tag {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}
.information-list > ul .item .graphic .tag > ul {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  line-height: 40px;
}
.information-list > ul .item .graphic .tag > ul > li {
  height: 20px;
  line-height: 16px;
  display: inline-block;
  padding: 0px 8px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 6px;
}
.information-list > ul .item .graphic .tag > ul > li > a {
  display: block;
  color: #ffffff;
}
.information-list > ul .item .graphic .tag > ul > li:hover {
  border: 1px solid #ff5900;
}
.information-list > ul .item .graphic .tag > ul > li:hover > a {
  color: #ff5900;
}
.information-list > ul .item > a {
  display: block;
}
.information-list > ul .item > a .gra-tit {
  width: 100%;
  border-bottom: 1px solid #dededf;
}
.information-list > ul .item > a .gra-tit h5 {
  font-size: 16px;
  color: #020000;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px;
  overflow: hidden;
  height: 52px;
}
.information-list > ul .item > a .gra-cont {
  width: 100%;
  border-bottom: 1px solid #dededf;
}
.information-list > ul .item > a .gra-cont p {
  font-size: 12px;
  color: #020000;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 10px;
  height: 42px;
  overflow: hidden;
}
.information-list > ul .item:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.information-list > ul .item:hover .graphic img {
  transform: scale(1.2);
  vertical-align: top;
}
/* 资讯列表结束 */
.navbar {
  width: 100%;
  min-width: 810px;
  height: 58px;
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  line-height: 58px;
  border: none;
  position: fixed;
  top: 0;
  z-index: 10;
  border-radius: 0!important;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar .navbar-center-max {
  height: 100%;
  font-size: 16px;
  zoom: 1;
}
.navbar .navbar-center-max:before,
.navbar .navbar-center-max:after {
  content: " ";
  display: table;
}
.navbar .navbar-center-max:after {
  clear: both;
}
.navbar .navbar-center-max .logo {
  width: 15%;
  min-width: 160px;
  height: 100%;
  float: left;
  background: url('../images/nav-logo-bg.png') no-repeat;
  margin-left: -20px;
}
.navbar .navbar-center-max .logo a {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  line-height: 58px;
}
.navbar .navbar-center-max .logo a img {
  height: 42px;
  vertical-align: middle;
}
.navbar .navbar-center-max .list {
  height: 100%;
  float: left;
}
.navbar .navbar-center-max .list ul {
  height: 100%;
  zoom: 1;
}
.navbar .navbar-center-max .list ul:before,
.navbar .navbar-center-max .list ul:after {
  content: " ";
  display: table;
}
.navbar .navbar-center-max .list ul:after {
  clear: both;
}
.navbar .navbar-center-max .list ul li {
  height: 100%;
  float: left;
  padding: 0 12px;
  margin: 0 15px;
  box-sizing: border-box;
  position: relative;
}
.navbar .navbar-center-max .list ul li.active {
  background: rgba(51, 51, 51, 0.85);
  border-bottom: 3px solid #ff5900;
}
.navbar .navbar-center-max .list ul li:hover {
  background: rgba(51, 51, 51, 0.85);
  border-bottom: 3px solid #ff5900;
}
.navbar .navbar-center-max .list ul li.appdownload {
  padding-right: 25px;
  cursor: pointer;
}
.navbar .navbar-center-max .list ul li.appdownload .triangle {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff5900;
  cursor: pointer;
}
.navbar .navbar-center-max .list ul li.appdownload .app-code {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 58px;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px 20px 30px;
}
.navbar .navbar-center-max .list ul li.appdownload .app-code .word {
  width: 100%;
  height: 32px;
  line-height: 24px;
  font-size: 14px;
  color: #ff5900;
  text-align: center;
  letter-spacing: 2px;
}
.navbar .navbar-center-max .list ul li.appdownload .app-code .code {
  width: 100%;
  height: 130px;
  text-align: center;
}
.navbar .navbar-center-max .list ul li.appdownload .app-code .code > img {
  width: 130px;
  height: 100%;
}
.navbar .navbar-center-max .list ul li.appdownload .app-code .line {
  position: absolute;
  width: 100%;
  height: 0;
  border: 2px solid #ff5900;
  left: 0;
  bottom: 10px;
}
.navbar .navbar-center-max .list ul li.appdownload:hover .app-code {
  display: block;
}
.navbar .navbar-center-max .list ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.navbar .navbar-center-max .login-reg {
  height: 100%;
  float: right;
}
.navbar .navbar-center-max .login-reg ul {
  zoom: 1;
}
.navbar .navbar-center-max .login-reg ul:before,
.navbar .navbar-center-max .login-reg ul:after {
  content: " ";
  display: table;
}
.navbar .navbar-center-max .login-reg ul:after {
  clear: both;
}
.navbar .navbar-center-max .login-reg ul li {
  float: left;
}
.navbar .navbar-center-max .login-reg ul li:nth-child(2) {
  padding: 0 12px;
}
.navbar .navbar-center-max .login-reg ul li:hover a {
  color: #ff5900;
}
.navbar .navbar-center-max .login-reg .myown {
  height: 58px;
  cursor: pointer;
  position: relative;
}
.navbar .navbar-center-max .login-reg .myown .mo-show {
  height: 100%;
}
.navbar .navbar-center-max .login-reg .myown .mo-show .photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 14px;
  display: inline-block;
}
.navbar .navbar-center-max .login-reg .myown .mo-show .photo img {
  width: 100%;
  vertical-align: top;
}
.navbar .navbar-center-max .login-reg .myown .mo-show .myown-name {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #ffffff;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd {
  display: none;
  height: 30px;
  background: #333333;
  font-size: 12px;
  color: #cccccc;
  padding: 0 16px;
  position: relative;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #333333;
  transform: translate(50%, -100%);
  top: 0;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd li {
  line-height: 30px;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd li:hover {
  color: #cccccc;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd li a {
  color: #cccccc;
}
.navbar .navbar-center-max .login-reg .myown .mo-hidd li a:hover {
  color: #ff5900;
}
.navbar .navbar-center-max .login-reg .myown:hover .mo-show .myown-name {
  color: #ff5900;
}
.navbar .navbar-center-max .login-reg .myown:hover .mo-hidd {
  display: block;
}
/* 头部导航条样式结束 */
/* banner样式开始 */
.banner-box {
  width: 100%;
  min-width: 810px;
  height: 700px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.banner-box .grad {
  height: 0;
  width: 100%;
}
.banner-box .grad > div {
  width: 20%;
  height: 700px;
}
.banner-box .grad .grad-left {
  float: left;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent;
}
.banner-box .grad .grad-right {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-color: transparent;
}
.banner-box .grad {
  position: absolute;
  z-index: 2;
}
.banner-box .slide-btn-box {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.banner-box .slide-btn-box .slide-btn {
  height: 100%;
  float: left;
  background: transparent;
  border-bottom: 6px solid rgba(26, 26, 26, 0.85);
  cursor: pointer;
}
.banner-box .slide-btn-box .slide-btn.active {
  border-bottom: 8px solid #ff5900;
  transform: translate(0, 0);
}
.banner-box .banner-imgs {
  width: 100%;
  height: 100%;
}
.banner-box .banner-imgs a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s;
}
.banner-box .banner-imgs a img {
  height: 100%;
}
/* banner样式结束 */
/* 公共样式开始 */
/* 大字标题 */
.title {
  width: 310px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.title h1 {
  font-size: 24px;
  display: inline-block;
  margin-top: 60px;
  padding: 0 0 12px 12px;
  border-bottom: 4px solid #ff5900;
  letter-spacing: 12px;
}
.title h1 a {
  color: #020000;
}
.title h2 {
  font-size: 14px;
  color: #888f9b;
  margin: 12px 0 24px;
  line-height: 1.8;
}
/* 发布者信息 */
.owner {
  width: 100%;
  height: 50px;
  zoom: 1;
}
.owner:before,
.owner:after {
  content: " ";
  display: table;
}
.owner:after {
  clear: both;
}
.owner a {
  color: #020000;
  display: block;
  width: 100%;
  height: 100%;
}
.owner a .portrait {
  width: 30px;
  height: 30px;
  float: left;
  overflow: hidden;
  margin: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.owner a .portrait img {
  width: 100%;
}
.owner a .name {
  line-height: 50px;
  width: 180px;
  height: 100%;
  font-size: 12px;
  float: left;
  overflow: hidden;
  padding-right: 10px;
}
.owner a:hover {
  color: #ff5900;
}
/* 响应式布局 */
.media-row {
  height: auto;
  margin: 0 auto;
}
.media {
  overflow: visible;
  margin: 0 auto;
}
/* 公共样式结束 */
/* 返回顶部开始 */
.backtop {
  width: 40px;
  height: 40px;
  background: #626262;
  position: fixed;
  line-height: 40px;
  color: #ffffff;
  right: 5%;
  bottom: 140px;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 2;
}
/* 返回顶部结束 */
/* footer 样式 开始 */
.footer {
  width: 100%;
  height: 140px;
  background: url('../images/footer.jpg') center center no-repeat;
  margin-top: 30px;
}
.footer .grad {
  height: 0;
  width: 100%;
}
.footer .grad > div {
  width: 20%;
  height: 140px;
}
.footer .grad .grad-left {
  float: left;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, #000000 50%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent;
}
.footer .grad .grad-right {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 50%);
  background-color: transparent;
}
.footer .footer-center {
  height: 100%;
  text-align: center;
}
.footer .footer-center .logo {
  margin-top: 18px;
}
.footer .footer-center .logo img {
  height: 48px;
}
.footer .footer-center .copyright {
  padding-top: 10px;
}
.footer .footer-center p {
  font-size: 12px;
  color: #ffffff;
  margin: 8px 0;
  word-spacing: 4px;
  letter-spacing: 2px;
}
/* footer 样式 结束 */
/* 视频列表 开始 */
.video-box {
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.video-box > ul {
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.video-box .video-list {
  position: absolute;
  top: 0;
  left: 0;
}
/* 视频列表 结束 */
/* 资讯列表 开始 */
.information-box {
  width: 100%;
  margin-top: 60px;
  min-height: 500px;
}
.information-box > ul {
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.information-box .information-list {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 资讯列表 结束 */
@keyframes move {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(20%);
  }
}
@media (min-width: 1430px) {
  .media-row {
    max-width: 1370px;
  }
  .media {
    max-width: 1370px;
  }
  /* 首页 开始 */
  .navbar-center-max {
    display: block;
  }
  .navbar-center-min {
    display: none;
  }
  /* 首页 结束 */
}
@media (min-width: 1150px) and (max-width: 1429px) {
  .media-row {
    max-width: 1090px;
  }
  .media {
    max-width: 1090px;
  }
  /* 首页 开始 */
  .navbar-center-max {
    max-width: 1090px;
    display: block;
  }
  .navbar-center-min {
    display: none;
  }
  /* 首页 结束 */
}
@media (max-width: 1149px) {
  .media-row {
    width: 810px;
  }
  .media {
    width: 810px;
  }
  /* 首页 开始 */
  .navbar-center-max {
    display: block;
    max-width: 810px;
  }
  .navbar-center-min {
    display: none;
    max-width: 810px;
  }
  /* 首页 结束 */
}